node_modules/
dist/
ADMIN_UI/
GUI-FluentAI/
draw_sequence/
draw_mermaid/
draw_plantuml/
plantuml2drawio/
bao_cao/
ai-docs/
.cursor/
.env
gen-lang-client-0058731285-4fd617adb923.json
.vscode/
phan_tich/
.editorconfig
.prettierignore
.prettierrc
.eslintignore
.eslintrc.json
.eslintrc.js
.eslintrc.cjs
.eslintrc.mjs
.eslintrc.ts
.eslintrc.tsx
.eslintrc.tsx.json
