extends ../../layouts/default.pug

block head
    link(rel="stylesheet" href="/css/style.css")

block main-content
    .container.py-4
        .row
            .col-lg-8.mx-auto
                .card.shadow-sm
                    .card-body
                        div(render-complete-html data-complete-result=completeResult)
                        .d-flex.gap-2
                            a.btn.btn-outline-secondary(href="/") Quay về trang chủ
                            a.btn.btn-primary(href="/writing-paragraph/setup") Tiếp tục luyện viết

    script(src="/js/writing-paragraph.js" type="module")