footer(class="footer")
  div(class="container-fluid d-flex justify-content-between")
    nav(class="pull-left")
      ul(class="nav")
        li(class="nav-item")
          a(class="nav-link" href="#") Fadmin
        li(class="nav-item")
          a(class="nav-link" href="#") Trợ giúp
        li(class="nav-item")
          a(class="nav-link" href="#") Giấy phép
    div(class="copyright")
      | 2024, được tạo bởi 
      i(class="fa fa-heart heart text-danger")
      |  Fadmin Team

