footer(class="footer")
    div(class="row align-items-center")
        div(class="col text-center")
            p(class="footer__description") Thành thạo tiếng Anh với FluentAI
            p(class="footer__copyright") © 2025 FluentAI All rights reserved.
            div(class="footer__links")
                a(href="#" class="footer__link") Chính sách quyền riêng tư
                span(class="footer__separator") |
                a(href="#" class="footer__link") Chính sách bảo mật