:root {
    /* Color Variables */
    --primary-color: #3945f2;
    --secondary-color: #08128b;

    --pink-color: #e73877;
    --orange-light-color: #fcba85;
    --beige-color: #f4e8d1;

    /* Size Variables */
    --header-height: 60px;

    /* Spacing Variables */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 3rem;

    /* Border Radius Variables */
    --border-radius-sm: 0.5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.25rem;

    /* Shadow Variables */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0 8px 25px rgba(0, 0, 0, 0.1);

    /* Font Size Variables */
    --font-size-xs: 0.7rem;
    --font-size-sm: 0.8rem;
    --font-size-base: 0.9rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.1rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2.5rem;

    /* Transition Variables */
    --transition-fast: 0.3s ease;
    --transition-slow: 0.5s ease;
}
