extends ../../layouts/default.pug

block head
    link(rel="stylesheet" href="/css/style.css")

block main-content

    div(class="main-content")
        div(class="container py-4")
            h1(class="mb-4" style="font-size: var(--font-size-xxl); font-weight: bold; color: #1f2937;")
                | Thông tin tài khoản

            div(class="row")
                // Section 1: Account Information - col-8
                div(class="col-12 col-lg-8 mb-4 mb-lg-0")
                    div(class="profile-section")
                        h2(class="profile-section__title")
                            i(class="fas fa-user profile-section__title-icon")
                            |  Thông tin cá nhân

                        div(class="profile-info")
                            // Avatar Section
                            div(class="profile-avatar")
                                img(id="avatarPreview" src=user.avatar alt="Avatar" class="profile-avatar__preview")
                                div(class="profile-avatar__upload")
                                    input(type="file" id="avatarInput" accept="image/*" class="profile-avatar__input")
                                    label(for="avatarInput" class="profile-avatar__label")
                                        i(class="fas fa-camera")
                                        |  Chọn ảnh

                            // Form Section
                            form(class="profile-form" id="profileForm" data-user=user)
                                // View Mode
                                div(class="profile-form__view-mode" id="viewMode")
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Tên người dùng
                                            div(class="profile-field__value" viewUsername) An Nguyễn
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Email
                                            div(class="profile-field__value" viewEmail) nguyenan@gmail.com
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Ngày sinh
                                            div(class="profile-field__value" viewDateOfBirth) 01/01/2000
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Điện thoại
                                            div(class="profile-field__value" viewPhoneNumber) 0909090909
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Giới tính
                                            div(class="profile-field__value" viewGender) Nam
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Ngày cập nhật
                                            div(class="profile-field__value" viewUpdatedAt) 01/01/2025 10:00
                                    div(class="profile-form__actions")
                                        button(type="button" class="profile-form__btn profile-form__btn--edit" id="editBtn")
                                            i(class="fas fa-edit")
                                            |  Sửa thông tin

                                // Edit Mode
                                div(class="profile-form__edit-mode" id="editMode")
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(for="username" class="profile-form__label") Tên người dùng
                                            input(type="text" name="username" class="profile-form__input" editUsername value="An Nguyễn", required)
                                            div(class="invalid-feedback" error="username") Tên không hợp lệ
                                        div(class="profile-form__group")
                                            label(for="email" class="profile-form__label") Email
                                            input(type="email" name="email" class="profile-form__input" editEmail value="nguyenan@gmail.com", disabled)
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(for="dateOfBirth" class="profile-form__label") Ngày sinh
                                            input(type="date" name="dateOfBirth" class="profile-form__input" editDateOfBirth value="2003-04-03", required)
                                            div(class="invalid-feedback" error="dateOfBirth") Ngày sinh không hợp lệ
                                        div(class="profile-form__group")
                                            label(for="phoneNumber" class="profile-form__label") Điện thoại
                                            input(type="tel" name="phoneNumber" class="profile-form__input" editPhoneNumber value="0909090909", required)
                                            div(class="invalid-feedback" error="phoneNumber") Điện thoại không hợp lệ
                                    div(class="profile-form__row")
                                        div(class="profile-form__group")
                                            label(for="gender" class="profile-form__label") Giới tính
                                            select(id="gender" name="gender" class="profile-form__select" editGender required)
                                                option(value="") Chọn giới tính
                                                option(value="male") Nam
                                                option(value="female") Nữ
                                                option(value="other") Khác
                                            div(class="invalid-feedback" error="gender") Giới tính không hợp lệ
                                        div(class="profile-form__group")
                                            label(class="profile-form__label") Ngày cập nhật
                                            div(class="profile-field__value" editUpdatedAt) 01/01/2025 10:00
                                    div(class="profile-form__actions")
                                        button(type="submit" class="profile-form__btn profile-form__btn--primary")
                                            i(class="fas fa-save")
                                            |  Lưu thay đổi
                                        button(type="button" class="profile-form__btn profile-form__btn--secondary" id="cancelBtn")
                                            i(class="fas fa-times")
                                            |  Hủy

                // Section 2: Change Password - col-4
                div(class="col-12 col-lg-4")
                    div(class="profile-section")
                        h2(class="profile-section__title")
                            i(class="fas fa-lock profile-section__title-icon")
                            |  Đổi mật khẩu
                        form(class="password-form" id="passwordForm")
                            div(class="profile-form__group")
                                label(for="oldPassword" class="profile-form__label") Mật khẩu cũ
                                div(class="password-form__input-wrapper")
                                    input(type="password" id="oldPassword" name="oldPassword" class="profile-form__input password-form__input w-100" placeholder="Nhập mật khẩu cũ", required)
                                    button(type="button" class="password-form__toggle" data-toggle="oldPassword")
                                        i(class="fas fa-eye")
                                div(class="invalid-feedback" error="oldPassword") Mật khẩu cũ không hợp lệ
                            div(class="profile-form__group")
                                label(for="newPassword" class="profile-form__label") Mật khẩu mới
                                div(class="password-form__input-wrapper")
                                    input(type="password" id="newPassword" name="newPassword" class="profile-form__input password-form__input w-100" placeholder="Nhập mật khẩu mới" , required)
                                    button(type="button" class="password-form__toggle" data-toggle="newPassword")
                                        i(class="fas fa-eye")
                                div(class="invalid-feedback" error="newPassword") Mật khẩu mới không hợp lệ
                            div(class="profile-form__group")
                                label(for="confirmPassword" class="profile-form__label") Nhập lại mật khẩu mới
                                div(class="password-form__input-wrapper")
                                    input(type="password" id="confirmPassword" name="confirmPassword" class="profile-form__input password-form__input w-100" placeholder="Nhập lại mật khẩu mới" , required)
                                    button(type="button" class="password-form__toggle" data-toggle="confirmPassword")
                                        i(class="fas fa-eye")
                                div(class="invalid-feedback" error="confirmPassword")
                                    | Mật khẩu mới và xác nhận mật khẩu không khớp.
                            div(class="password-form__actions")
                                button(type="submit" class="password-form__btn password-form__btn--primary")
                                    i(class="fas fa-key")
                                    |  Đổi mật khẩu
                                button(type="reset" class="password-form__btn password-form__btn--secondary")
                                    i(class="fas fa-redo")
                                    |  Đặt lại

    script(src="/js/profile.js" type="module")